.cart {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  padding: 0;
  border: 2px solid black;
  padding: 10px;
  &__cartImage {
    width: 70px;
    height: 70px;
    margin-right: 8px;
  }
  &__addButton,
  &__removeButton {
    height: 30px;
    margin-right: 9px;
  }
  &__productPrice,
  &__productName,
  &__productSize,
  &__totalAmount,
  &__cartQuantity {
    height: 70px;
    margin-right: 10px;
  }
  &__removeAllButton {
    border: none;
    background-color: white;
    padding: 0;
    margin: 0;
  }
}
.trashIcon {
  font-size: 20px;
  padding: 0;
  margin: 0;
  font-weight: lighter;
}
/////////////////////////////////////////form

.payOutForm {
background-color: white;


}

.cartForm{
  display: flex;
  flex-direction: column;
}
