.productmodal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__title {
    font-size: 30px;
  }

  &__image {
    max-width: 400px;
  }
  &__size {
    font-size: 20px;
  }
  &__price {
    font-size: 20px;
  }
}
.product {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .productDiv {
    background-color: rgb(255, 255, 255);
    margin: 5px;
    border: lightblue 1px solid;
    &__title {
      color:black;
      font-family: proxima-nova,sans-serif;
      font-size: 14px;
      border: lightblue 1px solid;
      background-color: rgb(169, 207, 224);
     }
      &__image {
      width: 183px;
      padding: 8px;
      
    }

  }
}

