body {
  background-color: rgb(165, 187, 194);
}

.wrapper {
  width: 100%;

  .product-button-wraper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.productAttributesDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer {
  background-color: lightblue;
  width: 100%;
  height: 100px;
  position: bottom;
}

.entry {
  color: black;
  width: 100%;
  display: block;
  align-items: center;
  justify-content: center;
  padding-top: 20%;
}

.entryText {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.entryLittleText {
  color: coral;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20%;
}

.informationFirstPage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: auto;
}

.info {
  background-color: lightblue;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
}
